<label class="switch" id="power-button-top">
 <input id="power-button-switch" type="checkbox" data-bind="checked: checked, disable: disabled">
 <span id="power-button-slider" class="slider round" data-bind="css: cssOption"></span>
</label>


